.MainNavigation {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;

  &Nav {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;

    &Container {
      margin: 0 auto;
      padding: 0;
      display: flex;
      flex-direction: column;

      &Link {
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        width: 290px;
        height: 120px;
        border-radius: 8px;
        color: #FFF;
        text-align: center;
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        text-decoration: none;
      }
    }
  }
}

.even {
  background-color: #76A05E; /* Цвет для четных элементов */
}

.odd {
  background-color: #F7A110; /* Цвет для нечетных элементов */

}

.last {
  /* Стили для последнего элемента */
  margin-bottom: 0; /*убрать нижний отступ */
}
