.App {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  &__title {
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 20px;
    text-align: center;
    font-size: clamp(20px, 4vw, 38px);
    font-family: 'Inter', Arial, Helvetica, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', Verdana;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media (max-width: 720px) {
      text-align: left;
    }
  }

}


