.BackButton {
  margin: 0 auto;
  padding: 0 20px;
  background-color: inherit;
  border: none;
  text-align: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  text-decoration: underline;
  cursor: pointer;
}
