.PromoVideo {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: auto;
  max-width: 1240px;
}


@media screen and (max-width: 1240px) {
  .PromoVideo {
    max-width: 90%;
  }
}

@media screen and (max-width: 540px) {
  .PromoVideo {
    padding: 0 0;
    max-width: 100%;
  }
}
