.containerVideo {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PromoVideo {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: auto;

  @media screen and (min-width: 540px) {
    max-width: 80%;
}

}

